.overlay-whole {
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%); 
  text-shadow: 0px 2px 10px #000;
  text-align: center;
}

.carousel-cell {
  width: 100%;
  max-height: 656px;
  text-align: center;
}

.carousel-cell > img {
  width: 100%;
}

body.home .centred-text {
  margin-top: 40px;
  margin-bottom: 40px;
}
